<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telecomando - Studiomedico Cascino</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Assicurati che il percorso sia corretto -->
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
            background-color: #3b6c91; /* Verde mare per lo sfondo */
            color: #fff; /* Testo bianco per il contrasto */
        }
        .header {
            font-size: 48px; /* Dimensione del testo per l'intestazione */
            text-transform: uppercase; /* Testo in maiuscolo */
            margin-bottom: 30px; /* Spazio inferiore per separare dall'inizio del contenuto */
        }
        .container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .card {
            background-color: #fff; /* Sfondo bianco delle card */
            color: #900; /* Colore rosso scuro per il testo */
            border: 2px solid #ccc; /* Bordo grigio */
            padding: 10px; /* Padding interno delle card */
            width: 300px; /* Larghezza delle card */
            margin: 20px; /* Margine tra le card */
        }
        .card h1 {
            font-size: 36px; /* Dimensione del testo per il titolo */
            text-transform: uppercase; /* Testo in maiuscolo */
            margin-bottom: 10px; /* Spazio inferiore tra il titolo e la casella di testo */
        }
        .text-input {
            font-size: 48px; /* Dimensione del testo della casella di testo */
            width: 100%; /* Larghezza massima della casella di testo */
            text-align: center;
            border: none; /* Rimuove il bordo */
            outline: none; /* Rimuove il contorno al focus */
            background-color: transparent; /* Sfondo trasparente */
            padding: 10px 0; /* Padding interno */
        }
        .button {
            font-size: 18px; /* Dimensione del testo dei pulsanti */
            margin-top: 5px; /* Spazio superiore tra i pulsanti */
            background-color: #fff; /* Sfondo bianco dei pulsanti */
            color: #3b6c91; /* Testo verde mare per contrasto */
            border: none; /* Rimuove il bordo dei pulsanti */
            padding: 8px 16px; /* Padding interno dei pulsanti */
            cursor: pointer; /* Cambia il cursore al passaggio */
            transition: background-color 0.3s ease; /* Transizione del colore di sfondo */
        }
        .button:hover {
            background-color: #ccc; /* Sfondo grigio chiaro al passaggio del mouse */
        }
        .footer-marquee {
            background-color: #3b6c91; /* Colore di sfondo */
            color: #fff; /* Colore del testo */
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="header">Telecomando - Studiomedico Cascino</div>
    <div class="container">
        <div class="card">
            <h1>SALA 1</h1>
            <form id="form1" action="/remote" method="post">
                <input class="text-input" id="text1" type="text" name="text1" value="<%= initialValue1 %>" readonly>
                <br>
                <button class="button" type="submit" name="action" value="increase">Avanti</button>
                <button class="button" type="submit" name="action" value="decrease">Indietro</button>
            </form>
        </div>

        <div class="card">
            <h1>SALA 2</h1>
            <form id="form2" action="/remote" method="post">
                <input class="text-input" id="text2" type="text" name="text2" value="<%= initialValue2 %>" readonly>
                <br>
                <button class="button" type="submit" name="action" value="increase2">Avanti</button>
                <button class="button" type="submit" name="action" value="decrease2">Indietro</button>
            </form>
        </div>

        <div class="card">
            <h1>SALA 3</h1>
            <form id="form3" action="/remote" method="post">
                <input class="text-input" id="text3" type="text" name="text3" value="<%= initialValue3 %>" readonly>
                <br>
                <button class="button" type="submit" name="action" value="increase3">Avanti</button>
                <button class="button" type="submit" name="action" value="decrease3">Indietro</button>
            </form>
        </div>

        <div class="card">
            <h1>Infermeria</h1>
            <form id="form4" action="/remote" method="post">
                <input class="text-input" id="text4" type="text" name="text4" value="<%= initialValue4 %>" readonly>
                <br>
                <button class="button" type="submit" name="action" value="increase4">Avanti</button>
                <button class="button" type="submit" name="action" value="decrease4">Indietro</button>
            </form>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('updateValues', data => {
            document.getElementById('text1').value = data.initialValue1;
            document.getElementById('text2').value = data.initialValue2;
            document.getElementById('text3').value = data.initialValue3;
            document.getElementById('text4').value = data.initialValue4;
        });
    </script>
</body>
</html>
